<html>
    <head>
        <script src="js/angular.js"></script>
        <script src="js/angular-local-storage.js"></script>
        <script src="js/lodash.js"></script>
        <script src="js/grade-sheet.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
        <link rel="stylesheet" href="css/bootstrap.css"></link>
        <link rel="stylesheet" href="css/grade-sheet.css"></link>
    </head>
    <body ng-app="gradeSheet">
        <h1>Grade Sheet</h1>
        <div class="container-fluid" ng-controller="GradeSheetCtrl">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 alice-blue">
                    <h3>Student Grades</h3>
                    <table class="table">
                        <tr class="column-label">
                            <td ng-repeat="label in columnLabels">
                                <centered><label>{{label}}</label></centered>
                            </td>
                        </tr>
                        <tr ng-repeat="($index, entry) in entries">
                            <td class="row-label"><centered>{{$index + 1}}</centered></td>
                            <td>
                                <input ng-model="entry.name"
                                       ng-model-options="{ updateOn: 'change blur' }"
                                       ng-change="onNameChange($index, '{{entry.name}}')"
                                       type="text">
                            </td>
                            <td>
                                <input ng-model="entry.grade"
                                       ng-model-options="{ updateOn: 'change blur' }"
                                       ng-change="onGradeChange($index, '{{entry.grade}}')"
                                       type="number"
                                       ng-class="{failing: entry.grade < 65}">
                            </td>
                            <td><button class="btn delete-button" ng-click="delete($index)"><span class="glyphicon glyphicon-remove"></button></td>
                        </tr>
                        <tr ng-controller="NewEntryCtrl">
                            <td class="row-label"></td>
                            <td>
                                <input id="newEntryNameInput"
                                       ng-model="newEntry.name"
                                       type="text"
                                       ng-keyup="$event.keyCode == 13 && create()">
                            </td>
                            <td>
                                <input ng-model="newEntry.grade"
                                       type="number"
                                       ng-keyup="$event.keyCode == 13 && create()">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 lemon-chiffon"
                     ng-show="entries.length >= 1">
                    <h3>Summary</h3>
                    <table class="table" ng-controller="SummaryCtrl">
                        <tr ng-repeat="summaryRow in summaryRows">
                            <td class="summary-row-label"><centered class="full-width"><label>{{ summaryRow.label }}</label></centered></td>
                            <td class="summary-row-value"><centered>{{ summaryRow.valueFunction(entries) | number:2 }}</centered></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

